*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.contentLogin{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}

.containerImagen-name{
    position: relative;
    width: 50%;
    height: 100%;
}

.turistik{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.containerImagen-name::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#502231,rgb(82, 107, 163));
    z-index: 1;
    mix-blend-mode: screen;
}

.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

#inputBox{
    margin-bottom: 20px;
}

.tituloLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 2px;
    width: 100%;
    margin-bottom: 20px;
}

.formLogin{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

 .emailLogin, .passLogin{
    border: 1px solid rgb(191, 186, 186);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px 20px;
    outline: none;
    width: 250px;
    font-weight: 400;
    font-size: 15px;
    background: transparent;
}

.save{
    border-radius: 30px;
    background-color: #8BDB81;
    border: 1px solid #8BDB81;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 50%;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 15px;
}

.iconos_sesion{
    display: flex;
    justify-content:center;
    align-items: center;
}

.iconos_sesion img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

.iconEye{
    position: absolute;
    right: 180px;
    margin: 5px;
    cursor: pointer;
    top: 40%;
}

@media screen and (max-width: 768px) {
    .containerImagen-name {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .containerForm{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        z-index: 1;
        padding: 20px;
        background: rgb(255 255 255 / 0.5);
        margin: 40px;
        border-radius: 50px;
    }
}